/* CSS Entry Point */
@import 'font-awesome';
@import 'normalize';

$bgGreen: #81BC39;

img {
  border-radius: 100%;
}
.app {
  height: 550px;
  width: 450px;
  margin: auto;
  margin-top: 50px;
  position: relative;
  border: 1px solid #E7E7E7;
}
.contact-list {
  font-size: 15px;
  button {
    background: $bgGreen;
    color: white;
    font-family: arial;
    font-size: 14px;
    border: 0;
    border-bottom-right-radius: 10px;

  }
  img {
  height: 50px;
  margin-left: 10px;
  margin-right: 10px;
}
  h1 {
    color: white;
    font-family: arial;
    font-weight: normal;
    font-size: 25px;
    background: $bgGreen;
    margin: 0;
    padding: 10px 0px 10px 20px;
    border-bottom-right-radius: 10px;
  }
  ul {
  margin: 0;
  padding: 0;
  list-style: none;
    li {
      display: flex;
      align-items: center;
      padding-top: 5px;
      padding-bottom: 5px;
    }
  }
}

.conWrapper {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #E7E7E7;
}
.contact-details {
  .top {
    display: flex;
    justify-content: space-around;
    background:$bgGreen;
    padding: 10px 0px;
    img {
      height: 120px;
    }
    button {
      border: 0;
      background: $bgGreen;
      position: absolute;
      top: 0px;
      left: 0px;
      height: 60px;
      width: 60px;
      &.edit {
        position: absolute;
        top: 0px;
        left: 50px;
      }
      i {
        font-size: 20px;
      }
    }
  }
  ul {
    margin: 0;
    padding: 0;
    li {
      height: 50px;
      display: flex;
      align-items: center;
      border-bottom: 1px solid #E7E7E7;
      font-size: 20px;
      i {
        margin: 10px;
      }
    }
  }
}
.ssf {
  display: flex;
  flex-direction: column;
}
h1 {
  background: $bgGreen;
  color: white;
  margin: 0;
  margin-bottom: 10px;
  text-align: center;
}
label {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  input {
    width: 75%;
  }
}
button {
  background: $bgGreen;
  color: white;
  border: 0;
}
.dropzone {
  display: flex;
  justify-content: center;
  position: relative;
  height: 200px;
  .previewImage {
    width: 180px;
    height: 150px;
    object-fit: cover;
    border-radius: 0px;
  }
}
